env_setup/reachability/output/
__pycache__/
*.pyc
obs_debug.log/
obs_debug_pouring1.log/
obs_debug_pouring2.log/
obs_debug_pouring3.log
**/__pycache__/

# Ignore all contents of the log directory by default
log/*

# But, do not ignore the rsl_rl directory itself
!log/rsl_rl/

# Now, ignore the contents of the rsl_rl directory
log/rsl_rl/*
